<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="header">
    <div class="logo-with-header">
      <img src="/assets/white-team-tracker-icon.png" alt="Team Tracker Logo" class="header-logo">
      <h1 class="header-title">TeamTracker</h1>
    </div>

    <div class="header-profile">
      <img src="/assets/profile-image.png" (click)="viewProfile()" alt="Profile Image" class="header-profile-image">
      <span class="header-username" (click)="viewProfile()">{{managerName}}</span>
      <div class="logout-items" (click)="logout()" [routerLink]="['/logout']" routerLinkActive="active-tab"
        [ngClass]="{'active-link': activeLink === '/logout'}">
        <img [src]="activeLink === '/logout' ? '/assets/blue-logout-icon.png' : '/assets/white-logout-icon.png'"
          alt="Logout" class="sidebar-icon">
        <span>Logout</span>
      </div>
    </div>
  </div>

  <div class="dashboard-container">
    <div class="sidebar">
      <h2>Hello : {{managerName}}!</h2>
      <img src="/assets/profile-image.png" (click)="viewProfile()" alt="Profile Image" class="profile-image" />
      <p>Click img to ViewProfile</p><br>

      <div class="sidebar-item" [routerLink]="['/manager-dashboard/post-project']" routerLinkActive="active-tab"
        [ngClass]="{'active-link': activeLink === '/manager-dashboard/post-project'}">
        <img
          [src]="activeLink === '/manager-dashboard/post-project' ? '/assets/blue-allocate-icon.png' : '/assets/white-allocate-icon.png'"
          alt="Post Project" class="sidebar-icon">
        <span>Post Project</span>
      </div>

      <div class="sidebar-item" [routerLink]="['/manager-dashboard/manager-assigned-projects']"
        routerLinkActive="active-tab"
        [ngClass]="{'active-link': activeLink === '/manager-dashboard/manager-assigned-projects'}" mat-raised-button [matBadge]="pendingProjectCount" [matBadgeHidden]="hidden"
        matBadgeSize="large">
        <img
          [src]="activeLink === '/manager-dashboard/manager-assigned-projects' ? '/assets/blue-pending-icon.png' : '/assets/white-pending-icon.png'"
          alt="Projects Assigned" class="sidebar-icon" >
        <span>Pending Projects</span>
      </div>

      <div class="sidebar-item" [routerLink]="['/manager-dashboard/view-projects']" routerLinkActive="active-tab"
        [ngClass]="{'active-link': activeLink === '/manager-dashboard/view-projects'}">
        <img
          [src]="activeLink === '/manager-dashboard/view-projects' ? '/assets/blue-view-icon.png' : '/assets/white-view-icon.png'"
          alt="View Projects" class="sidebar-icon">
        <span>View Projects</span>
      </div>

      <div class="sidebar-item" (click)="logout()" [routerLink]="['/logout']" routerLinkActive="active-tab"
        [ngClass]="{'active-link': activeLink === '/logout'}">
        <img [src]="activeLink === '/logout' ? '/assets/blue-logout-icon.png' : '/assets/white-logout-icon.png'"
          alt="Logout" class="sidebar-icon">
        <span>Logout</span>
      </div>
    </div>

    <div class="main-content">
      <h1>Manager Dashboard</h1>
      <router-outlet class="child-container"></router-outlet>
    </div>
  </div>

</body>

</html>