.project-info {
  margin-top: -3%;
  padding: 16px; /* Adjust the padding as needed */
}

.project-info h2 {
  font-size: 1.5em;
}

h3{
  font-size:1.4em;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-container {
  flex: 1 1 calc(33.333% - 10px);
  margin: 1%;
  padding: 2%;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.project-container h4 {
  margin-top: 0;
  font-size: 1.2em;
}

.task-details {
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  gap: 3%;
  margin-bottom: 8px;
}

.detail strong {
  flex: 1;
  width: 150px;
  text-align: left;
  flex-shrink: 0;
  margin: 2px;
}

.detail span {
  flex: 1;
  margin: 2px;
}

@media (max-width: 900px) {
  .project-info {
    padding: 12px;
  }

  .project-container {
    padding: 8px;
    flex: 1 1 calc(50% - 10px);
  }

  .project-container h4 {
    font-size: 1.2em;
  }

  .detail strong {
    width: 120px;
  }

  .detail span {
    font-size: 0.9em;
  }
}

@media (max-width: 600px) {
  .project-info {
    padding: 8px;
  }

  .project-container {
    padding: 6px;
    flex: 1 1 calc(100% - 10px);
  }

  .project-container h4 {
    font-size: 1em;
  }

  .detail strong {
    width: 100px;
  }

  .detail span {
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  .project-info {
    padding: 4px;
  }

  .project-container {
    padding: 4px;
  }

  .project-container h4 {
    font-size: 0.8em;
  }

  .detail strong {
    width: 80px;
  }

  .detail span {
    font-size: 0.7em;
  }
}
